body {
    background-color: $primaryBackgroundColor;
    color: $primaryTextColor;
  
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
  }

  h1, h2, h3, h4, li {
    padding: 0;
    margin: 0;
    }

    img {
      display: block;
    }

   